<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/global.css">
    <title>SocialPage</title>
  
</head>

<body>
    <h1>Ei!! Que tal me achar em outras redes??</h1>
    <!--Facebook-->

    <abbr title="Facebook">
        <a href="https://www.facebook.com/heitor.goulatmoraes" target="_blank">
            <img id="imagem" src="img/facebook.jpg" alt="Facebook">
        </a>
    </abbr>

    <!--Instagram-->

    <abbr title="instagram">
        <a href="https://www.instagram.com/heitorgol20/?hl=en" target="_blank">
            <img id="imagem" src="img/instagram.jpg" alt="instagram">
        </a></abbr>

    <!--GitHub-->

    <abbr title="GitHub">
        <a href="https://github.com/Heitorvini11" target="_blank">
            <img id="imagem" src="img/github.png"
                alt="GitHub" width="850">
            </a>
        </abbr>

    <!--Steam-->

    <abbr title="Steam">
        <a href="https://steamcommunity.com/id/tioheitor" target="_blank">
            <img id="imagem" src="img/Steam.jpg"
                alt="Steam">
            </a>
        </abbr>

    <!--Spotify-->

    <abbr title="Spotify">
        <a
            href="https://open.spotify.com/user/heitorzyca?si=tPMvu7XaSN2KdVGKC1fmgg&utm_source=copy-link"
            target="_blank">
            <img id="imagem" src="img/spotify.png" alt="Spotify" width="850">
        </a>
    </abbr>
</body>


</html>